.custom-footer {
  background-color: #56021F; /* Fundo bordô escuro */
  color: #FFFFFF; /* Texto em branco */
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.custom-footer a {
  color: #FFFFFF; /* Links também em branco */
  text-decoration: none;
  margin-left: 5px;
}

.custom-footer a:hover {
  text-decoration: underline; /* Destaque no hover */
}
 