
:root {
  --bs-body-bg: #ffffff !important;
}


[data-bs-theme="dark"] {
  --bs-body-bg: #000000 !important;
}

body.dark {
  background: var(--color-dark-bg);
  color: var(--color-dark-text);
}

body.light {
  background: var(--color-light-bg);
  color: var(--color-light-text);
}

.theme-toggle {
  cursor: pointer;
  font-size: 2rem;
  margin: 1rem 0;
}

.search input {
  font-family: var(--font-raleway);
}

.container {
  margin-top: 2rem;
}