@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

:root {
  --font-kiwi: "Kiwi Maru", serif;
  color: #d9d9d9;
  --corTexto: #ECE852;
}

[data-bs-theme="dark"] {
  --corTexto: #B03052;
}

body {
  font-family: var(--font-kiwi);
  background-color: #000000 !important;
}

#app {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  width: 300px;
  margin: 13px 110px;
  background: #56021f;
  border: 1px solid #d9d9d9;
  height: 20px;
}

.search input {
  flex: 1;
  padding-right: 1rem;
  outline: none;
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 350;
  background: #56021f;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.empty {
  width: 90%;
  margin-top: 3rem;
  display: flex;
  font-family: var(--font-kiwi);
  color: var(--corTexto);
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.removeScroll::-webkit-scrollbar {
  display: none;
}

.top-container {
  background-color: #56021f !important;
  width: 100% !important;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
}
