
:root {
  --font-raleway: "Raleway", sans-serif;
  --color-light-bg: #f0f0f0;
  --color-light-text: #333;
  --color-dark-bg: #212426;
  --color-dark-text: #d9d9d9;
}

body.dark {
  background: var(--color-dark-bg);
  color: var(--color-dark-text);
}

body.light {
  background: var(--color-light-bg);
  color: var(--color-light-text);
}

.theme-toggle {
  cursor: pointer;
  font-size: 2rem;
  margin: 1rem 0;
}